*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/natural-pattern.png);
}

a{
  color: #0f0;
  text-decoration: none;
}

h1 , h2{
  color:#504741;
}

h2 , p{
font-family: 'Roboto', sans-serif;

}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 1000px;
  /* height: 100%; */
  margin:10px auto;
}

/* INIZIO HEADER */

header{
  width: 100%;
}

.header-top{
  width: 100%;
  height:360px;
  background-image: url(../img/natural-header.jpg);
  border: 8px solid #fff;
  text-align: center;
  position: relative;
}

.header-image-logo{
  position: absolute;
  top:50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.header-image-logo img{
  width: 50%;
}

.header-image-logo h2{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-transform: uppercase;

}

/* header-bottom*/

nav{
  background-color: #303031;
  text-align: center;
}

nav .items{
  list-style: none;
}

nav .items li{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 10px;
}

nav .items li a{
  color: #fff;
}

.items li:hover{
  background-color: #ddd;
}
/* /Header-bottom */

/* / HEADER */

/* INIZIO CORPO PRINCIPALE */
main{
  width: 100%;
  padding: 15px 0;
}

aside.col-left{
  width: 20%;
  /* height: 250px; */
  background-color: #fff;
  padding:5px;
  border-radius: 5px;

}

.col-left-ico{
  width: 20%;
}

.col-left-ico i{
  color: #ffc107;
  font-size: 30px;
}

.col-left-title{
  width: 80%;
}


ul.col-left-menu{
  list-style: none;
}

ul.col-left-menu li{
  margin: 5px 0;
}



section{
  width: calc(60% - 40px);
  margin: 0 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;

}

section h1{
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.13);
}

section p{
  line-height: 35px;
}



aside.col-right{
  width: 20%;
  /* height: 600px; */
}

aside .box{
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.box h2{
  margin-bottom: 20px;
}

.box p{
  line-height: 1.6;
}

/* INIZIO FOOTER */
footer{
  background-color: white;
  padding:5px;
  border-radius: 5px;
  text-align: center;

}

.copy{
  color:#ccc;
  font-style: italic;
}

.social{
  width:600px;
  line-height: 150px;
  margin: auto;
}

.box-fb {
  width: 33%;
  height: 150px;
  color: #ccc;
  font-size: 35px;
}

.box-ig{
  width: 33%;
  height: 150px;
  color: #ccc;
  font-size: 35px;

}


.box-git{
  width: 33%;
  height: 150px;
  color: #ccc;
  font-size: 35px;


}

/* /FOOTER */
